# Project
app/node_modules
app/.vscode
app/.svelte-kit
app/build

# Env
app/.env
app/.env.*

# Output
.output
.vercel

# OS
.DS_Store
Thumbs.db

# Vite
app/vite.config.js.timestamp-*
app/vite.config.ts.timestamp-*
